.root {
  background-color: #000000;
  min-width: 320px;
}

.page {
  /* min-width: 320px; */
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
}
@media (max-width: 918px) {
  .page {
    margin: 0 19px;
  }
}

@media (max-width: 580px) {
  .page {
    margin: 0;
  }
}

.header {
  height: 100%;
  width: 100%;
  max-width: 880px;
  height: 74px;
  margin: 0 auto;
  border-bottom: solid 1px #545454;
  padding: 45px 0 0;
  margin: auto;
}

@media (max-width: 580px) {
  .header {
    height: 56px;
    padding-top: 28px;
    margin: 0;
  }
}

@media (max-width: 580px) {
  .header__logo {
    height: 24px;
    padding-left: 28px;
  }
}

.profile {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 40px 0 50px;
  margin: auto;
  max-width: 880px;
}

@media (max-width: 580px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
    margin: 0 19px;
  }
}

.profile__info {
  max-width: calc(100% - 150px - 120px - 60px);
  display: grid;
  grid-template-columns: 1fr min-content;
  /* justify-content: baseline; */
  align-items: center;
  gap: 14px 18px;
}

@media (max-width: 580px) {
  .profile__info {
    max-width: calc(100% - 38px);
    text-align: center;
    gap: 10px 14px;
  }
}

.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 580px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: 25px;
  }
}

.profile__occupation {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  /* padding-top: 10px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column: 1 / 3;
}

@media (max-width: 768px) {
  .profile__occupation {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 580px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #ffffff;
  /* margin-left: 18px; */
  padding: 0;
  background-image: url(./images/pensil_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* align-items: flex-end; */
}

@media (max-width: 580px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}

.profile__avatar {
  border-radius: 100px;
  max-width: 120px;
  max-height: 120px;
}

.add__button {
  justify-self: flex-end;
  margin-left: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  border: 2px solid #ffffff;
  height: 50px;
  width: 150px;
  text-align: center;
  background-image: url(./images/cross_button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 580px) {
  .add__button {
    width: 100%;
    background-size: 16px 16px;
  }
}

.elements {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 34px) / 3));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: auto;
  max-width: 880px;
}

@media (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, calc((100% - 17px) / 2));
  }
}

@media (max-width: 580px) {
  .elements {
    grid-template-columns: 100%;
    margin: 0 19px;
  }
}

.grid__element {
  background: #ffffff;
  border-radius: 10px;
}

.photo-grid__element {
  width: 100%;
}

.grid__content {
  display: flex;
  align-items: center;
}

.text-grid__element {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  padding-left: 25px;
  max-width: calc(100% - 42px - 21px - 21px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.like__button {
  background-image: url(./images/like_grid.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  min-width: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 30px 20px 30px auto;
  text-align: right;
}

/* .like__button:active {


} */

.footer__coopyright {
  margin: 0;
  padding: 66px 0 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  margin: auto;
}

@media (max-width: 580px) {
  .footer__coopyright {
    margin: 0 19px;
    font-size: 14px;
    line-height: 17px;
    padding: 48px 0 36px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}

.popup__opened {
  display: block;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup__content {
  padding: 34px 31px 37px 41px;
  max-width: 358px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media (max-width: 580px) {
  .popup__content {
    max-width: 238px;
    padding: 25px 22px;
  }
}

.popup__close-button {
  background-image: url(./images/Close\ Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  width: 32px;
  position: absolute;
  top: -10%;
  right: -10%;
  background-color: transparent;
  border: none;
  /* float: right;
   cursor: pointer; */
}

@media (max-width: 580px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    top: -10%;
    right: 0;
  }
}

.popup__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-right: 28px;
}

@media (max-width: 580px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-right: 0;
  }
}

/* .popup__form {
} */

.form__name {
  width: 100%;
  height: 27px;
  margin: 49px auto 30px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 580px) {
  .form__name {
    margin: 75px auto 30px;
  }
}

.form__occupation {
  width: 100%;
  height: 27px;
  margin: 0 auto 48px;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 580px) {
  .form__occupation {
    margin: 0 auto 45px;
  }
}

.form__save-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  padding: 0;
}

@media (max-width: 580px) {
  .form__save-button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
}

.form__save-button:hover {
  opacity: 0.8;
}

.hover:hover {
  opacity: 0.6;
}
