.profile {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 40px 0 50px;
  margin: auto;
  max-width: 880px;
}

@media (max-width: 580px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
    margin: 0 19px;
  }
}